* {
  /*border: 1px solid black;*/
}

.main-row {
  margin-top: 50px;
}

/*Side Menu*/
.vertical-menu {
    width: 240px; /* Set a width if you like */
    margin-left: 100px;
}

.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}

/*Article Preview*/

.article-preview {
  background-color: #eee;
  color: black;
  display: block;
  padding: 10px;
}
