.metamorphega{
  background-color: white;
}

.metamorphega-slider{
  background: #E4E4E4;
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: -20px;
}

.metamorphega-content{
  padding-top: 50px;
  padding-bottom: 50px;
}
